.about{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #11749e;
  color: #ffffff;
  padding-top: 150px;
  h2{
    margin: 0 0 140px 0;
  }
  &__bg{
    @include bg__letter;
  }
  .about__wrapper{
    @include  wrapper__content;
  }
  &__block {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0 15px;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130px;
      width: 130px;
      background: #2e85aa;
      border-radius: 50%;
      margin-bottom: 20px;
      i {
        display: inline-block;
        height: 40px;
        width: 40px;
        color: white;
      }
    }
    &__title{
      font-size: 1.8rem;
      font-family: "Gotham-Medium" ,sans-serif;
      margin-bottom:30px;
    }
    p{
      font-family: Gotham-Book , sans-serif;
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }
}
#about__block1 i{
  background: url("../img/about/Write.png")no-repeat center;
  background-size: contain;
}
#about__block2 i{
  background: url("../img/about/Write.png")no-repeat center;
  background-size: contain;
}
#about__block3 i{
  background: url("../img/about/Search.png")no-repeat center;
  background-size: contain;
}
#about__block4 i{
  background: url("../img/about/Simon-says.png")no-repeat center;
  background-size: contain;
}