.blog{
  @include sections;
  padding-top: 150px;
  color: #222222;
  h2{
    margin:0 0 100px 0;
  }
  h3{
    margin: 0 0 70px 0;
  }
  .blog__bg{
    @include bg__letter;
    font-size: 250px;
    top: 25px;
    color: #7b7b7b;
  }
  &__wrapper{
    @include wrapper__content;
    margin-bottom: 60px;
  }
  &__content{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 25%;
    margin: 0 15px 40px;
    img{
      height: auto;
      width: 100%;
      margin-bottom: 45px;
    }
    h4{
      margin: 0 0 25px 0;
      padding: 0;
      font-family: "Gotham-Medium",sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      text-align: center;
      color: #11749e;
    }
    p{
      font-family: "Myriad Pro";
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
    }
  }
}

@media (max-width: 854px){
  .blog__wrapper{
    flex-wrap: wrap;
  }
  .blog__content{
    flex-basis: 40%;
  }
}
@media (max-width: 768px){
  .blog__content{
    flex-basis: 100%;
  }
}
