.news{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  &__article{
    display: flex;
    width: 100%;
  }
  &__wrapper{
    display: flex;
    width: 50%;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 600px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-family: "Gotham-Book" , sans-serif;
    font-size: 1.5rem;
    &__time{
      display: flex;
      font-size: 1.3rem;
      margin-bottom: 15px;
      time{
        padding-right: 10px;
        margin-right: 10px;
      }
    }
    h4{
      margin: 0 0 25px 0;
    }
  }
  &__image{
    width: 50%;
    height: auto;
  }
}
.news-1{
  .news__wrapper{
    justify-content: flex-end;
    color: #ffffff;
    background: #222222;
  }
  .news__content{
    padding-right:80px;
    padding-left:15px;
    &__time time{
      border-right: 1px solid #ffffff;
    }
  }
}
.news-2{
  .news__wrapper{
    justify-content: flex-start;
    color: #222222;
    background: #f3f3f3;
  }
  .news__content{
    padding-left:80px;
    padding-right:15px;
    &__time time{
      border-right: 1px solid #222222;
    }
  }
}

#news__image-1{
  background: url("../img/news/Layer88.jpg")no-repeat center;
  background-size: cover;
}
#news__image-2{
  background: url("../img/news/Layer90.jpg")no-repeat center;
  background-size: cover;
}

@media (max-width: 854px){
  .news__article{
    justify-content: center;
    flex-wrap: wrap;
    &:nth-child(1){
      flex-wrap: wrap-reverse;
    }
  }
  .news__article .news__wrapper{
    justify-content: center;
    width: 100%;
    padding: 30px 0;
  }
  .news-1 .news__content,.news-2 .news__content{
    padding: 0 15px;
  }
  .news__image{
    height: 250px;
    width: 100%;
  }
  .news__content{
    padding: 40px;
    &__time{
      justify-content: center;
    }
  }
}
