@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: "Gotham-Book";
  src: url('../fonts/Gotham-Book.otf');
}
@font-face {
  font-family: "Gotham-Medium";
  src: url('../fonts/Gotham-Medium.otf');
}
@font-face {
  font-family: "OpenSans-bold";
  src: url('../fonts/OpenSans-Bold.eot');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.eot');
}
@font-face {
  font-family: "RobotoCondensed";
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@import "reset";

*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
h1{
  font-size: 12.2rem;
  text-transform: uppercase;
  color: #ffffff;
}
h2{
  font-family: "Gotham-Medium" , sans-serif;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: normal;
}
h3{
  font-family: "Gotham-Book" , sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
h4{
  font-family: "Gotham-Medium" , sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

@import "mixins";
@import "header";
@import "about";
@import "news";
@import "blog";
@import "area";
@import "feature";
@import "team";
@import "contact";
@import "footer";

