@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: "Gotham-Book";
  src: url('../fonts/Gotham-Book.otf');
}
@font-face {
  font-family: "Gotham-Medium";
  src: url('../fonts/Gotham-Medium.otf');
}
@font-face {
  font-family: "OpenSans-bold";
  src: url('../fonts/OpenSans-Bold.eot');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.eot');
}
@font-face {
  font-family: "RobotoCondensed";
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
@mixin bg__letter{
  position: absolute;
  top: 80px;
  left:50%;
  font-size: 15.5rem;
  font-family: "Roboto" , sans-serif;
  font-weight: bold;
  color: #ffffff;
  z-index: 0;
  transform: translateX(-50%);
  opacity: 0.18;
}

@mixin wrapper__content{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 120px;
}

@import "reset";
@import "header";
@import "about";
@import "news";
@import "blog";

